#header {
  .bar {
    background-color: $movoRed;
    height: 11px;
  }
  .inner {
    padding: 30px 0;
    position: relative;
    @include media(breakpoint(800)) {
      padding: 56px 0;
    }
    a {
      .logo {
        position: absolute;
        top: 35px;
        left: 0;
        @include retina-div('../../img/admin/movo-logo', 'png', 231, 44);
        @include media(breakpoint(800)) {
          top: 49px;
        }
      }
    }
    #nav-links {
      white-space: nowrap;
      margin-top: 60px;
      @include media(breakpoint(800)) {
        width: 100%;
        text-align: right;
        margin-top: 0;
      }
      li {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 3.5%;
        font-size: em(16);
        display: inline-block;
        @include media(breakpoint(800)) {
          font-size: em(17);
        }
        &:first-child {
          margin-left: 0;
        }
        a {
          &.stats {
            .stats & {
              color:          $movoRed;
              text-rendering: optimizeLegibility;
            }
          }
          &.orders {
            .orders & {
              color:          $movoRed;
              text-rendering: optimizeLegibility;
            }
          }
          &.coupons {
            .coupons & {
              color:          $movoRed;
              text-rendering: optimizeLegibility;
            }
          }
        }
      }
    }
  }
}

