#login {
  h3 {
    font-weight: 900;
    margin-bottom: 20px;
    font-size: em(20);
  }
  .errors {
    margin-bottom: 12px;
    font-size: em(15);
    color: $movoRed;
  }
  input {
    margin-bottom: 7px;
    height: 33px;
  }
}