* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
* Scut, a collection of Sass utilities to ease and improve our implementations of common style-code patterns.
* v0.7.2
* Docs at http://davidtheclark.github.io/scut
*/



























* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ' ';
  content: none; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  -webkit-font-smoothing: antialiased; }

img {
  border: 0;
  vertical-align: middle; }

p {
  margin: 1em 0; }
  p:first-of-type {
    margin-top: 0; }
  p:last-of-type {
    margin-bottom: 0; }

a {
  text-decoration: none; }

.screen-size-check {
  display: none;
  width: 1px; }
  @media screen and (min-width: 601px) {
    .screen-size-check {
      width: 2px; } }
  @media screen and (min-width: 769px) {
    .screen-size-check {
      width: 3px; } }
  @media screen and (min-width: 1025px) {
    .screen-size-check {
      width: 4px; } }
  @media screen and (min-width: 1300px) {
    .screen-size-check {
      width: 5px; } }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.hide {
  display: none; }

.show {
  display: block; }

.hide-for-mobile {
  display: none !important; }
  @media screen and (min-width: 601px) {
    .hide-for-mobile {
      display: block !important; } }

@media screen and (min-width: 601px) {
  .hide-for-tablet-up {
    display: none !important; } }

@media screen and (min-width: 601px) {
  .hide-for-tablet-only {
    display: none !important; } }
@media screen and (min-width: 769px) {
  .hide-for-tablet-only {
    display: block !important; } }

@media screen and (min-width: 769px) {
  .hide-for-desktop-up {
    display: none !important; } }

@media screen and (min-width: 769px) {
  .hide-for-desktop-only {
    display: none !important; } }
@media screen and (min-width: 1025px) {
  .hide-for-desktop-only {
    display: block !important; } }

@media screen and (min-width: 1025px) {
  .hide-for-large-up {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  .hide-for-large-only {
    display: none !important; } }

@media screen and (min-width: 601px) {
  .show-for-mobile-only {
    display: none !important; } }

.show-for-tablet-up {
  display: none !important; }
  @media screen and (min-width: 601px) {
    .show-for-tablet-up {
      display: block !important; } }

.show-for-tablet-only {
  display: none !important; }
  @media screen and (min-width: 601px) {
    .show-for-tablet-only {
      display: block !important; } }
  @media screen and (min-width: 769px) {
    .show-for-tablet-only {
      display: none !important; } }

.show-for-ipad-portrait-up {
  display: none !important; }
  @media screen and (min-width: 768px) {
    .show-for-ipad-portrait-up {
      display: block !important; } }

.show-for-desktop-up {
  display: none !important; }
  @media screen and (min-width: 769px) {
    .show-for-desktop-up {
      display: block !important; } }

.show-for-desktop-only {
  display: none !important; }
  @media screen and (min-width: 769px) {
    .show-for-desktop-only {
      display: block !important; } }
  @media screen and (min-width: 1025px) {
    .show-for-desktop-only {
      display: none !important; } }

.show-for-large-up {
  display: none !important; }
  @media screen and (min-width: 1025px) {
    .show-for-large-up {
      display: block !important; } }

.clickable {
  cursor: pointer; }

#guide {
  position: absolute;
  z-index: 1000000;
  top: 0;
  left: 0; }

/* Hover Effects */
.hover-black-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.17);
  /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI3OSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40OCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNDgiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0.35) 79%, rgba(0, 0, 0, 0.35) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(16%, rgba(0, 0, 0, 0)), color-stop(79%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 0.35)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0.35) 79%, rgba(0, 0, 0, 0.35) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0.35) 79%, rgba(0, 0, 0, 0.35) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0.35) 79%, rgba(0, 0, 0, 0.35) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0.35) 79%, rgba(0, 0, 0, 0.35) 100%);
  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#7a000000', GradientType=1);*/ }

/* Youtube Players */
.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100; }
  .youtube-player iframe {
    width: 100%;
    height: 100%; }
  .youtube-player .close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    opacity: 0.7;
    -webkit-transition: 0.3s opacity;
    -moz-transition: 0.3s opacity;
    transition: 0.3s opacity; }
    .ua-ios .youtube-player .close-btn {
      opacity: 0.9; }
    .youtube-player .close-btn:hover {
      opacity: 1; }
    .youtube-player .close-btn .closeText {
      display: none; }
      .ua-mobile-ipad .youtube-player .close-btn .closeText {
        display: inline-block;
        vertical-align: super;
        line-height: 0.5em;
        margin-left: 7px; }
    .ua-ios .youtube-player .close-btn {
      top: auto;
      right: 0;
      bottom: -40px;
      background-color: black;
      width: auto;
      height: 40px;
      margin-left: 5px;
      color: white;
      white-space: nowrap;
      padding: 10px 18px; }
    .youtube-player .close-btn .x {
      width: 25px;
      height: 25px;
      background-size: 25px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAA/klEQVRYw+3XSw7CMAwEUAuqZkWPTMOl0juVQwwbhKhi5zPxBlQvk7HeIlE+Imf9QOE60Htpi92REEhiRsJaj60AwDGYkQCgwrwJivkQZeaL6GYOhM1gwgZwTEYAGyY9GjhGJew+hukkGIYgehmS6GEGiFZmkGhhHIga40SUGEfCZG6uhMHszoTBeBMVxosoMJ6EiAiWbC12LL5EyHaUegr4E55MgfBiFOLpzCjEhoV/C7QSQR1nGYsw5himRDgxNcKBaSEGmVZigOkhSKaXIBiG6GQw8Xe3yhiv+sgRKvOwo5EjMiaWo5EjDkysRyN/dyMgNRAig//4gd6z/q5eapb6FknzQzkAAAAASUVORK5CYII=); }
      .ua-ios .youtube-player .close-btn .x {
        display: inline-block;
        background-size: 20px;
        width: 20px;
        height: 20px; }

.anchor-top {
  background-position-y: 0% !important; }

.anchor-right {
  background-position-x: 100% !important; }

.anchor-bottom {
  background-position-y: 100% !important; }

.anchor-left {
  background-position-x: 0% !important; }

.cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

/*
USAGE:
<body>
  <div id="page-wrapper">
    <div id="footer-push"></div>
  </div>
  <div id="footer">
  </div>
</body>

@include sticky-footer(54px)

*/
.white {
  color: white !important; }

.black {
  color: black; }
  .black a {
    color: black; }

.green {
  color: #0e8016; }

body {
  font-family: Roboto, sans-serif;
  color: #333333; }

section {
  padding: 55px 0; }
  section.gray {
    background-color: #f1f1f1;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0; }

.inner {
  width: 80%;
  max-width: 860px;
  margin: 0 auto; }

.errors {
  margin-bottom: 12px;
  font-size: 0.9375em;
  color: #f52f41; }

a {
  color: #333333;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all; }
  a:hover {
    color: #f52f41; }

input, select {
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 31px;
  padding: 0 5px 0 10px;
  color: #333333;
  font-size: 0.75em; }
  input.error, select.error {
    border: 1px solid #f52f41; }

input[type='text'] {
  -webkit-appearance: none; }

input[type='submit'] {
  background-color: #555555;
  color: white;
  border: none;
  height: 31px !important;
  padding: 3px 16px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all; }
  input[type='submit']:hover {
    background-color: #666666; }

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375em;
  margin-bottom: 30px; }

#header .bar {
  background-color: #f52f41;
  height: 11px; }
#header .inner {
  padding: 30px 0;
  position: relative; }
  @media screen and (min-width: 800px) {
    #header .inner {
      padding: 56px 0; } }
  #header .inner a .logo {
    position: absolute;
    top: 35px;
    left: 0;
    width: 231px;
    height: 44px;
    background-image: url('../../img/admin/movo-logo.png');
    background-size: 231px 44px;
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
      #header .inner a .logo {
        background-image: url('../../img/admin/movo-logo@2x.png');
        background-size: 231px 44px; } }
    @media screen and (min-width: 800px) {
      #header .inner a .logo {
        top: 49px; } }
  #header .inner #nav-links {
    white-space: nowrap;
    margin-top: 60px; }
    @media screen and (min-width: 800px) {
      #header .inner #nav-links {
        width: 100%;
        text-align: right;
        margin-top: 0; } }
    #header .inner #nav-links li {
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: 700;
      margin-left: 3.5%;
      font-size: 1em;
      display: inline-block; }
      @media screen and (min-width: 800px) {
        #header .inner #nav-links li {
          font-size: 1.0625em; } }
      #header .inner #nav-links li:first-child {
        margin-left: 0; }
      .stats #header .inner #nav-links li a.stats {
        color: #f52f41;
        text-rendering: optimizeLegibility; }
      .orders #header .inner #nav-links li a.orders {
        color: #f52f41;
        text-rendering: optimizeLegibility; }
      .coupons #header .inner #nav-links li a.coupons {
        color: #f52f41;
        text-rendering: optimizeLegibility; }

#login h3 {
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 1.25em; }
#login input {
  margin-bottom: 7px;
  height: 33px; }

.stats #orders ul {
  *zoom: 1; }
  .stats #orders ul:before, .stats #orders ul:after {
    content: " ";
    display: table; }
  .stats #orders ul:after {
    clear: both; }
  .stats #orders ul li {
    margin-bottom: 30px;
    margin-right: 3%;
    float: left;
    text-align: center; }
    .stats #orders ul li a:hover {
      color: #333333; }
    .stats #orders ul li .circle {
      width: 130px;
      height: 130px;
      border-radius: 200px;
      margin-bottom: 12px;
      position: relative; }
      .stats #orders ul li .circle .number {
        color: white;
        font-size: 2.9375em;
        font-weight: 300;
        padding: 40px 22px 0; }
    .stats #orders ul li.hour .circle {
      background-color: #555555; }
    .stats #orders ul li.day .circle {
      background-color: #939393; }
    .stats #orders ul li.week .circle {
      background-color: #cccccc; }
      .stats #orders ul li.week .circle .number {
        color: #333333; }
    .stats #orders ul li.month .circle {
      background-color: white; }
      .stats #orders ul li.month .circle .number {
        color: #333333; }
    .stats #orders ul li.errors .circle {
      background-color: #f52f41; }
    .stats #orders ul li .period {
      font-weight: 500;
      color: #333333;
      margin-bottom: 0px;
      font-size: 1.0625rem; }
.stats #coupons ul {
  *zoom: 1; }
  .stats #coupons ul:before, .stats #coupons ul:after {
    content: " ";
    display: table; }
  .stats #coupons ul:after {
    clear: both; }
  .stats #coupons ul li {
    margin-bottom: 30px;
    margin-right: 3%;
    float: left;
    text-align: center; }
    .stats #coupons ul li .circle {
      position: relative;
      margin-bottom: 12px; }
      .stats #coupons ul li .circle .doughnut {
        width: 135px !important;
        height: 135px !important; }
      .stats #coupons ul li .circle .percent {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 47px 24px 0;
        font-size: 2.6875em;
        font-weight: 300;
        margin-left: 5px; }
        .stats #coupons ul li .circle .percent.no-limit {
          margin-left: 0;
          padding-top: 45px; }
        .stats #coupons ul li .circle .percent sup {
          font-size: 0.53125em;
          position: relative;
          top: 3px; }
    .stats #coupons ul li .bottom .coupon {
      font-weight: 500;
      font-size: 1.0625em;
      margin-bottom: 4px;
      text-transform: uppercase; }
    .stats #coupons ul li .bottom .detail {
      color: #9c9c9c;
      font-size: 0.9375em; }

.coupons #coupon-list {
  background-color: #f1f1f1;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 55px 0 30px; }
  .coupons #coupon-list .coupon {
    margin-bottom: 45px; }
    .coupons #coupon-list .coupon .fields {
      *zoom: 1; }
      .coupons #coupon-list .coupon .fields:before, .coupons #coupon-list .coupon .fields:after {
        content: " ";
        display: table; }
      .coupons #coupon-list .coupon .fields:after {
        clear: both; }
      .coupons #coupon-list .coupon .fields .field {
        float: left;
        margin-right: 1%;
        height: 55px; }
        .coupons #coupon-list .coupon .fields .field label {
          display: block;
          font-size: 0.8125em;
          margin-bottom: 4px;
          margin-left: 3px; }
        .coupons #coupon-list .coupon .fields .field input[type=text] {
          width: 90px; }
          .coupons #coupon-list .coupon .fields .field input[type=text].amount {
            width: 38px; }
          .coupons #coupon-list .coupon .fields .field input[type=text].limit {
            width: 65px; }
          .coupons #coupon-list .coupon .fields .field input[type=text].min-units {
            width: 65px; }
          .coupons #coupon-list .coupon .fields .field input[type=text].datetimepicker {
            width: 140px; }
        .coupons #coupon-list .coupon .fields .field input[type=checkbox] {
          position: relative;
          top: -4px; }
        .coupons #coupon-list .coupon .fields .field .date {
          width: 136px; }
    .coupons #coupon-list .coupon .buttons .update-button {
      display: inline-block; }
    .coupons #coupon-list .coupon .buttons .delete-button {
      display: inline-block; }
.coupons #add {
  padding: 50px 0; }

.orders #search-header {
  *zoom: 1;
  margin-bottom: 15px; }
  .orders #search-header:before, .orders #search-header:after {
    content: " ";
    display: table; }
  .orders #search-header:after {
    clear: both; }
  @media screen and (min-width: 601px) {
    .orders #search-header h2 {
      float: left; } }
  .orders #search-header #search {
    margin-bottom: 20px; }
    @media screen and (min-width: 601px) {
      .orders #search-header #search {
        float: right; } }
    .orders #search-header #search input {
      margin-bottom: 5px; }
.orders #search-results-title {
  margin-bottom: 30px;
  font-weight: 500;
  margin-top: -10px; }
.orders #orders {
  *zoom: 1;
  margin-bottom: 20px; }
  .orders #orders:before, .orders #orders:after {
    content: " ";
    display: table; }
  .orders #orders:after {
    clear: both; }
  @media screen and (min-width: 650px) {
    .orders #orders {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }
  @media screen and (min-width: 900px) {
    .orders #orders {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3; } }
  .orders #orders li {
    padding-right: 15px;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid; }
    .orders #orders li a {
      display: table;
      width: 100%;
      padding-bottom: 7px; }
      @media screen and (min-width: 601px) {
        .orders #orders li a {
          padding-bottom: 13px; } }
      .orders #orders li a .left {
        display: table-cell;
        width: 74px;
        vertical-align: top; }
        .orders #orders li a .left .date {
          text-align: center;
          margin-right: 8px;
          color: #d4d4d4;
          background-color: #595959;
          border-radius: 3px;
          padding: 3px 6px;
          font-size: 0.84375em; }
      .orders #orders li a .right {
        display: table-cell;
        vertical-align: middle; }
        .orders #orders li a .right .name {
          margin-right: 8px;
          line-height: 1.2em; }
.orders .pagination {
  *zoom: 1; }
  .orders .pagination:before, .orders .pagination:after {
    content: " ";
    display: table; }
  .orders .pagination:after {
    clear: both; }
  .orders .pagination li {
    float: left;
    padding: 0 4px; }
    .orders .pagination li.active {
      color: #f52f41; }
    .orders .pagination li.disabled, .orders .pagination li:last-of-type {
      color: #cccccc;
      font-size: 1.375em;
      position: relative;
      top: -4px; }
@media screen and (min-width: 700px) {
  .orders.order-details .inner .details {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }
.orders.order-details .inner .details .row {
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  margin-bottom: 19px;
  line-height: 1.15em;
  color: #535353; }
  .orders.order-details .inner .details .row .items li {
    margin-bottom: 4px; }
  .orders.order-details .inner .details .row h3 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 5px;
    color: #333333; }
