@import "../variables";
@import "../vendor/bourbon/bourbon";
@import "../vendor/neat/neat";
@import "../vendor/scut/scut";
@import "../grid-settings";
@import "../vendor/neat/neat";
@import "../vendor/jumpkick/boilerplate";
@import "../vendor/jumpkick/jumpkick";
@import "../mixins";
@import "../colors";


body {
  font-family: Roboto, sans-serif;  // 300, 400, 500, 700
  color: $darkGray;
}

section {
  padding: 55px 0;
  &.gray {
    background-color: #f1f1f1;
    border-top:       1px solid #d0d0d0;
    border-bottom:    1px solid #d0d0d0;
  }
}

.inner {
  width: 80%;
  max-width: 860px;
  margin: 0 auto;
}
.errors {
  margin-bottom: 12px;
  font-size:     em(15);
  color:         $movoRed;
}

a {
  color: $darkGray;
  @include transition(0.3s all);
  &:hover {
    color: $movoRed;
  }
}
input, select {
  outline:       none;
  border:        1px solid #cccccc;
  border-radius: 4px;
  height:        30px;
  padding:       0 5px 0 10px;
  color:         $darkGray;
  font-size:     em(12);
  &.error {
    border: 1px solid $movoRed;
  }
}
input[type='text'] {
  -webkit-appearance: none;
}
input[type='submit'] {
  background-color: #555;
  color: $white;
  //padding: 0 9px;
  border: none;
  height: 31px !important;
  padding: 3px 16px;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: em(22);
  margin-bottom: 30px;
}



@import "header";
@import "login";
@import "stats";
@import "coupons";
@import "orders";
