#loops {
  display: none;
  .item {
    margin-bottom: 20px;
    display: table;
    > div {
      display: table-cell;
      vertical-align: top;
    }
    .left {
    }
    .right {
      .product-title {
        margin-left: 10px;
        font-size: em(15);
        margin-bottom: 5px;
      }
      .qty {
        margin-left: 10px;
        width: 52px;
        input {
          border: 1px;
        }
      }
    }

  }


  .error-messages {
    margin-top: 0;
  }
}