#nav {
  height: 50px;
  background-color: #4d4d4d;
  position: relative;
  z-index: 1;
  ul {
    padding: 19px 10px 0 25px;
    li {
      color: rgba(255,255,255, 0.7);
      float: left;
      margin-right: 25px;
      font-size: em(13);
      text-rendering:         optimizeLegibility;
      @include fw-bold;
      @include transition(0.3s all);
      &.active {
        color: #fff;
      }
    }
  }
}