#payment {
  display: none;
  .credit-cards {
    @include retina-div('../img/credit-cards', 'png', 159, 26);
    margin-bottom: 10px;
    float: left;
  }
  #secure {
    width: 100px;
    text-align: right;
    margin-top: 9px;
    float: right;
    #lock-icon {
      @include retina-div('../img/lock', 'png', 13, 17);
      display: inline-block;
      opacity: 0.8;
    }
    h5 {
      display: inline-block;
      font-size: em(13);
    }
  }
  #coupon-container {
    margin-bottom: 13px;
    #submit-coupon-code {
      margin-left: 2px;
      display: inline-block;
      font-size: em(13);
      cursor:           pointer;
      text-rendering:   optimizeLegibility;
      @include transition(0.3s all);
      &:hover {
      }
      .cityStateZip {
        margin-bottom: 6px;
      }
    }
    #coupon-error-messages {
      margin-bottom: 0px;
    }
    #coupon-success {
      margin-top: 15px;
      display: none;
      color: $green;
      font-size: em(14);
      @include fw-medium;
    }
  }
  #shipping-confirmation {
    font-size:     em(15);
    line-height:   1.2em;
    margin-bottom: 15px;
    h5 {
      @include fw-bold;
      margin-bottom: 2px;
    }
    .cityStateZip {
      margin-bottom: 6px;
    }
  }
}