#shipping-info {
  //display: none;
  #use-billing-address {
    margin-bottom: 11px;
    font-size:     em(13);
    label {
      display: block;
    }
    input {
      height:       12px;
      margin-right: 5px;
      .ua-ios & {
        height: 16px;
      }
    }
  }
  #after-3pm {
    font-size: em(13.5);
    font-weight: 600;
    line-height: 1.2em;
    margin-top: 10px;

  }
}