#page-wrap {
  padding: 10px; }
  #page-wrap .row {
    width: 100%; }
  #page-wrap .coupon .coupon-row {
    width: 100%; }
    #page-wrap .coupon .coupon-row span {
      display: inline-block;
      padding-right: 20px;
      width: 150px;
      margin-right: 20px; }
    #page-wrap .coupon .coupon-row input {
      width: 150px; }
    #page-wrap .coupon .coupon-row select {
      width: 150px; }
    #page-wrap .coupon .coupon-row .button {
      width: 150px; }
