/*
USAGE:
<body>
  <div id="page-wrapper">
    <div id="footer-push"></div>
  </div>
  <div id="footer">
  </div>
</body>

@include sticky-footer(54px)

*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

p {
  line-height: 1.4em;
  margin: 18px 0;
  color: #333333; }

a {
  color: #f6303e;
  text-decoration: underline; }

.bold {
  font-weight: 700; }

.red {
  color: #f6303e; }

#top-bar {
  background-color: #f6303e;
  height: 11px; }

#logo {
  margin: 60px auto; }

#content-wrap {
  background-color: #efeeee;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  margin-bottom: 30px;
  color: #333333; }
  #content-wrap .inner {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 0;
    width: 80%; }
    #content-wrap .inner .product {
      font-size: 1.125em; }

#website {
  color: #f6303e;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px; }
  #website a {
    text-decoration: none !important; }
