@import "variables";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "vendor/scut/scut";
@import "grid-settings";
@import "vendor/neat/neat";
@import "vendor/jumpkick/boilerplate";
@import "vendor/jumpkick/jumpkick";
@import "vendor/stepper/stepper";
@import "mixins";
@import "fonts";
@import "colors";

body {
  color:       $darkGray;
  font-family: 'Open Sans', sans-serif;
  @include fw-regular;
  background-color: rgba(0, 0, 0, 0.7);
}
#form-content-box {
  max-width:        750px;
  margin:           80px auto 0;
  background-color: $lightGray;
  padding:          32px;
  position: relative;
  input, select {
    outline:       none;
    border:        1px solid #cccccc;
    border-radius: 4px;
    height:        28px;
    padding:       0 5px 0 10px;
    color:         $darkGray;
    font-size:     em(12);
    &.error {
      border: 1px solid $red;
    }
  }

  .select-group {
    margin-bottom: 14px;
    h5 {
      font-size:     rem(12);
      @include fw-medium;
      margin-bottom: 5px;
      margin-left:   1px;
    }
  }

  section {
    background-color: $white;
    padding:          30px;
    margin-right:     15px;
    width:            405px;
    margin-top:       15px;
    overflow:         auto;
    min-height:       330px;
    .section-title {
      font-size:     rem(16);
      @include fw-bold;
      margin-bottom: 25px;
    }
  }

  .error-messages {
    color:       $red;
    font-size:   em(13);
    margin:      10px 0 10px;
    line-height: 1.3em;
    li {
      display:       none;
      margin-bottom: 3px;
    }
  }

  .prev-next {
    margin-top: 35px;
    @include clearfix;
    .prev {
      float: left;
    }
    .next {
      float: right;
    }

  }

  .row {
    margin-bottom: 7px;

    &.single {
      @include outer-container;
      .field {
        @include span-columns(12);
      }
    }
    &.double {
      @include outer-container;
      .field {
        @include span-columns(6);
      }
    }
    &.triple {
      @include outer-container;
      .field {
        @include span-columns(4);
      }
    }
    input, select {
      height: 34px;
      width:  100%;
    }
    select {
      width:            100%;
      background-color: $white;
    }
  }

  .hide {
    display: none;
  }

  label {
    display: none;
  }

  #close {
    position: absolute;
    top: -15px;
    right: -15px;
    @include retina-div('../img/close', 'png', 36, 36);
    cursor: pointer;
    @include transition(0.3s all);
    &:hover {
      @include transform(rotate(90deg));
      cursor: pointer;
    }
  }

  @import "nav";
  @import "fixed-right-module";
  @import "products";
  @import "shipping-type";
  @import "shipping-info";
  @import "billing-info";
  @import "payment";
  @import "summary";

}
.button {
  background-color: lighten(#545454, 5%);
  color:            $white;
  font-size:        em(14.5);
  @include fw-medium;
  padding:          10px 20px;
  text-align:       center;
  cursor:           pointer;
  text-rendering:   optimizeLegibility;
  border-radius:    3px;
  display:          inline-block;
  @include transition(0.3s all);
  &:hover {
    background-color: darken(#545454, 6%);
  }
}
#submit-coupon-code {
  color:            white;
  background-color: $blue;
  @include transition(0.3s all);
  &:hover {
    background-color: darken($blue, 5%);
  }
}
